body {
  background-image: url("/assets/images/Background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
  margin: 0;
  scroll-behavior: smooth;
}
/* ---------------------------------------------------HEADER------------*/

header {
    margin: 0;
} 

.nav-bar {
    background-color: rgba(30, 45, 59, 1);
    height: 120px;
    width: 100%;
    top: 0px;
    position: fixed;
}



.logo {
    background: url("../images/logo\ FORPEX\ grayish\ small.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 80px;
    margin-top: 20px;
    
}


.navigation-main li {
    float: left;
    list-style-type: none;
    text-align: center;
    position: relative;
    height: 120px;
    margin-right: 20px;
}

.navigation-main li a {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    text-decoration: none;
    color: #fafafa;
    font-weight: 300;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.navigation-main li a:hover {
    color: rgb(237, 205, 31);
}

.czech-flag {
    background: url("../images/czech-republic-flag-round-icon-128.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    margin-top: 45px;
}

.english-flag {
    background: url("../images/united-kingdom-flag-3d-round-icon-32.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    margin-top: 45px;
}


/* ---------------------------------------------------hamburger dropdown------------*/

label[for="toggle"] {
        position: fixed;
        top: 45px;
        right: 45px;
        color: white;
        z-index: 6;
        font-size: 30px;
    }

.items i {
    display: none;
}

.navigation-responsive {
        display: none;
    }

#toggle {
        display: none;
    }

svg.hamburger {
        display: none;
    }

@media (max-width: 843px) {
        .navigation-main {
            display: none;
        }

        .items i {
            display: block;
        }

        svg.hamburger {
                    display: block;
                }

        .navigation-responsive {
            display: block;
            background-color: rgb(237, 205, 31) ;
            width: 80px;
        
            position: fixed;
            top: 100vh;
            right: 0;
            bottom: 0;
            margin: 0;
            margin-top: 120px;
            padding: 0;
            transition: top 0.6s;
        }
    
        .navigation-responsive ul {
            display: block;
            list-style: none;
            height: 70vh;
            padding: 0;
        }

        .navigation-responsive ul li {
            
            padding-top: 30px;
            padding-left: 5px;
        }

        .navigation-responsive li a {
            text-decoration:none;
            color:black;
            font-family: "Montserrat", sans-serif;
            text-align: left;
            font-size: small;
        }  

        .navigation-responsive li a:hover {
            color: #fafafa;
        }

                
            
        #toggle:checked ~ .navigation-responsive {
                top: 0vh;
            }
    }


/* ---------------------------------------------------HOME------------*/
.main-hl p {
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    font-weight: 300;
    color: #fafafa;
    text-align: right;
    text-transform: uppercase;
    word-spacing: 100vw;
    margin-right: 20%;
    margin-top: 20%;
}

.main-hl a i{
    font-size: 80px;
    color: #fafafa;
    text-align: center;
    margin-left: 48%;
    margin-bottom: 10%;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .main-hl p {
        font-size: 30px;
        margin-top: 180px;
    }
}

/* ---------------------------------------------------ABOUT US------------*/



.empty-bar {
    height: 120px;
}

.bg-about-us {
    background-color: white;
}

.about-us-text-margin {
    margin-left: 4%;
    margin-top: 70px;
    margin-right: 30%;
    margin-bottom: 10%;
    font-family: "Montserrat", sans-serif;
    color: #5a5a5a;
}

.about-us-text-margin h1 {
    font-size: 40px;
}

.about-us-text-margin p {
    font-size: 15px;
    margin-bottom: 20px; 
    line-height: 30px;
}

.about-us-text-margin .bar-under {
    background-color: rgb(237, 205, 31);
    height: 10px;
    width: 50%;
    margin-bottom: 30px;
    margin-top: 30px;
}

.about-us-text, .about-us-picture {
    float: left;
}

.about-us-picture-margin {
    background: url("../images/Depositphotos_1594482_xl-2015.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 550px;
    margin-left: 30%;
    margin-right: 4%;
    margin-top: 50px;    
}

/* ---------------------------------------------------PRINTING SOLUTIONS------------*/

#printing-solutions {
    height: 1120px;
}


.three-solutions {
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
   
}

.three-solutions h1 {
    font-family: "Montserrat", sans-serif;
    color: #fafafa;
    font-size: 40px;
    text-align: center;
    padding-top: 100px;
    font-weight: 350;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.three-solutions .bar-under {
    background-color: rgb(237, 205, 31);
    height: 10px;
    width: 40%;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.three-solutions-column {
    background-color: #fafafa;
    text-align: center;
    margin: 10px 6px;
}

.textile-picture {
    width: 100%;
    height: 250px;
    background: url("/assets/images/Depositphotos_192275738_xl-2015small.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.paper-picture {
    width: 100%;
    height: 250px;
    background: url("/assets/images/paper\ print\ smaller.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.other-picture {
    width: 100%;
    height: 250px;
    background: url("/assets/images/Objects\ print\ -\ small.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.three-solutions-column h2 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-top: 25px;
    
    
    font-weight: 500;
    color: #5a5a5a;
    font-size: 25px;
}

.three-solutions-column li {
    font-family: "Montserrat", sans-serif;
    text-align: left;
    margin: 15px 15px;
    font-weight: 400;
    color: #5a5a5a;
    font-size: 15px;
}

.three-solutions-column .bar-under {
    margin-bottom: 20px;
    height: 7px;
    margin-top: 20px;
}

/* ---------------------------------------------------FOOTER------------*/

.right-edge-column {
    width: 14%;
}

.social-media i {
    background-color: rgb(237, 205, 31);
    font-size: 20px;
    color: rgb(95, 94, 94);
    padding: 5px 18px;    
}

.social-media i:hover {
    color: #000000;
}

